@(table: Int)

<!DOCTYPE html>
<html>
    <head>
        <title>Masa @table</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome-4.7.0/css/font-awesome.min.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("js/details.js")"></script>
    </head>
    <body>
        <div id="container">
            <div class="orders">
                <table id="order_table">
                    <tr>
                        <th>Sipariş No</th>
                        <th>Ürün Adı</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                        <th>İşlem</th>
                    </tr>
                </table>
            </div>
            <div class="clients">

            </div>
        </div>
    </body>
</html>